<%
    /* Exemplo json
    {
       "photos" : [
          {
             "date" : "data",
             "description" : "descrição",
             "id" : 0,
             "image" : "/photo/image/0",
             "markers" : [
                {
                   "identification" : "Lorem",
                   "x" : 0.2000000029802322,
                   "y" : 0.2000000029802322
                }
             ],
             "moment" : "Lorem ipsum moment from PhotoFrame.cpp",
             "place" : "Lorem, ipsum, place, hardcoded, from  PhotoFrame.cpp"
          }
        ]
     }*/
%>

<% if(typeof slideIndex != "undefined" && slideIndex === 0) {%>
<div class="item active fullscreen">
<% } else{%>
<div class="item fullscreen">
<% }%>


<style>
.photo-back-img{
    max-height : 100%;
    /*height     : 100%;*/
    max-width    : 100%;
    width      : auto;
}

</style>

    <div class="photo-front image-container" style="width:100%; height:100%;overflow: hidden;">
      <!-- <img class="photo-front-img scale" data-scale="best-fit" data-align="center" src=<%= image %>  > !-->
      <img class="photo-front-img scale" data-scale="best-fill" data-align="center" src=<%= image %>  >
    </div> 

    <div class="photo-back fullscreen container" style="padding-top:2.5%">
        <div class="row fullscreen"> 
            <!-- Image -->
            <div class="col-xs-offset-1 col-xs-7" style="height: 90%;"  >
                <!-- <div class="image-container" style="height: 90%;" >
                    
                  <img class="scale photo-back-img img-responsive" data-scale="best-fit" data-align="center" 
                        data-markers= <%=  typeof(markers) !== "undefined" ? JSON.stringify(markers): '[]' %> src=<%= image %>  />
                </div> !-->
                <div class="image-container" style="height: 95%; text-align:center;" >
                    
                  <img class="scale photo-back-img" data-scale="best-fit" data-align="center" 
                        style="vertical-align: middle; opacity:0.6;"
                        data-markers= <%=  typeof(markers) !== "undefined" ? JSON.stringify(markers): '[]' %> src=<%= image %>  />
                </div>
                <% var markersTxt = ""; %>
                <% if(typeof(markers) !== "undefined"){ %>
                <%        for(var i=0; i < markers.length; ++i){%>
                <%            markersTxt += (i+1) +" - " + markers[i].identification + " " %>
                <%        };%>
                <%        for(var i=0; i < markers.length; ++i){%>
                            <% var pos = {x:markers[i].x, y :markers[i].y}; %>
                            <span  class="marker badge" data-marker-pos=<%= JSON.stringify(pos) %> >
                                <%= (i+1)  %>
                            </span>
                <%        };%>

                <%    }; %>    
                <p class="photo-markers-labels">
                    <%= markersTxt %>
                </p>
            </div>
            <!-- Text area-->

            <div class="col-xs-3" style="text-align:center;height:100%;">
                <div class="photo-text-area" style="height:90%;">
                    <h1 class="photo-moment"> <%= moment%></h1>
                    <p class="photo-place "><%= place%></p>
                    <p class="photo-date"><%= date%></p>
                    <p  class="photo-description"><%= description%></p>
                  </div>
            </div>

        </div>
    </div> <!-- /photo-back !-->
</div> <!-- /item !-->
