/* GLOBAL STYLES
-------------------------------------------------- */
html,body{
	height:100%;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    line-height: 1.4;
  }
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
/*.carousel {
  margin-bottom: 60px;
}*/
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights to 100% */
.carousel,.item,.active, .carousel-inner{
    height:100%;
}

.carousel .item {
  /*background-color: #777;*/
  height: 100%;
}

/* PHOTO DESCRIPTION
-------------------------------------------------- */
.photo-moment {
	text-align: center;
}
.photo-description {
	text-align: justify;
	font-size: medium;
}
.photo-place {
	text-align: left;
	font-size: small;
}
.photo-date {
	text-align: left;
	font-size: small;
}
.photo-text-area {
    height: 100%;
    max-height: 100%;
	vertical-align: middle;
    overflow-y : auto;
}

/* SLIDESHOW
-------------------------------------------------- */

.fullscreen{
    max-height : 100%;
    height : 100%;
    max-width : 100%;
    width : 100%;
    vertical-align : middle;
    text-align:center;
}

.img-container {
    box-sizing:border-box;
    width:100%;
    height:100%;
}
.image-div {
    margin:0 auto;
    height:100%;
    width:100%;
    background-repeat:no-repeat;
    background-position: center center;
    -webkit-background-size:contain; /* Chrome1+, Safari 3+ */
    background-size:contain; /* FF4+, IE9+, Chrome3+, Opera10+, Safari 3+ */
}
.invisible {
    height:0%;
    width:0%;
    display: none;
}
